<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Edit Page</title>
    <meta name="description" content="Edit content here" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <drop-if truthy="editingContentPath">
      You are viewing the edit page directly. Maybe you meant to
      <a href="?edit">edit this page</a>
      (edit the edit page)? Or if you wanted to edit another page, go to that
      page and add <code>?edit</code> to the end of the URL.
    </drop-if>
    <keep-if truthy="editingContentPath">
      <form method="POST">
        <query-content
          q="render('/system/templates/editor.fragment.html', { nocontainer, editContent: await render(editingContentPath,{raw: true, escape: true }), editingContentPath: editingContentPath })"
        ></query-content>
      </form>
    </keep-if>
  </body>
</html>
