<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Edit Page</title>
    <meta name="description" content="Edit content here" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <h1>
      Editing
      <keep-if truthy="parameters.editingContentPath">
        <a
          x-href="parameters.editingContentPath"
          x-content="parameters.editingContentPath"
          >[filename] :-/</a
        >
      </keep-if>
      <drop-if truthy="parameters.editingContentPath"> (Template) </drop-if>
    </h1>

    <drop-if truthy="parameters.editingContentPath">
      You are viewing the edit page directly. Maybe you meant to
      <a href="?edit">edit this page</a>
      (edit the edit page)? Or if you wanted to edit another page, go to that
      page and add <code>?edit</code> to the end of the URL.
    </drop-if>
    <keep-if truthy="parameters.editingContentPath">
      <form method="POST">
        <query-content
          q="render('/system/templates/editor.fragment.html', { editContent: await render(parameters.editingContentPath,{raw: true, escape: true }), editingContentPath: parameters.editingContentPath })"
        ></query-content>
      </form>
    </keep-if>
  </body>
</html>
