<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title><render- content="keyword">Keyword Listing</render-></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <h2>
      <render- content="keyword">Keyword Listing</render->
    </h2>

    <render- if="!keyword">
      <p>No keyword queried.</p>
    </render->

    <p>Keywords listing. Query for a given keyword below:</p>

    <form method="GET" action="/system/templates/keyword.html">
      <label>
        Keyword
        <input type="text" name="keyword" x-value="or(keyword, '')" />
      </label>
      <button type="submit">Query</button>
    </form>

    <render- if="keyword">
      <ul>
        <render- map="fileCache.getContentPathsForKeyword(keyword)">
          <set-
            ipath="currentListItem, goodHref"
            iname="fileCache.getByContentPath(ipath)?.meta?.title ?? ipath"
          >
          </set->
          <li>
            <span>
              <a x-href="ipath" x-content="iname"></a>
              <drop-if truthy="parameters.static !== undefined">
                -
                <a x-href="`${ipath}?edit`" x-title="`Edit ${iname}`">Edit</a>
              </drop-if>
            </span>
          </li>
        </render->
      </ul>
    </render->

    <h2>All Keywords</h2>
    <ul>
      <render- map="fileCache.allKeywords">
        <set-
          ipath="`/system/templates/keyword.html?keyword=${currentListItem}`"
          icount="fileCache.getContentPathsForKeyword(currentListItem),(p)=>p?.length?.toString()"
        >
        </set->
        <li>
          <span>
            <a x-href="ipath" x-content="currentListItem"></a>&nbsp;(<span
              x-content="icount"
            />)
          </span>
        </li>
      </render->
    </ul>
  </body>
</html>
