<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title><query-content q="keyword"> Keyword Listing </query-content></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <h2>
      <query-content q="keyword"> Keyword Listing </query-content>
    </h2>

    <drop-if truthy="keyword">
      <p>No keyword queried.</p>
    </drop-if>

    <p>Keywords listing. Query for a given keyword below:</p>

    <form method="GET" action="/system/templates/keyword.html">
      <label>
        Keyword
        <input type="text" name="keyword" x-value="or(keyword, '')" />
      </label>
      <button type="submit">Query</button>
    </form>

    <keep-if truthy="keyword">
      <ul>
        <map-list q="fileCache.getContentPathsForKeyword(keyword)">
          <set-
            ipath="currentListItem"
            iname="fileCache.getByContentPath(ipath)?.meta?.title ?? ipath"
          >
          </set->
          <li>
            <span>
              <a x-href="ipath" x-content="iname"></a>
              -
              <a x-href="`${ipath}?edit`" x-title="`Edit ${iname}`">Edit</a>
            </span>
          </li>
        </map-list>
      </ul>
    </keep-if>

    <h2>All Keywords</h2>
    <ul>
      <map-list q="fileCache.allKeywords">
        <set-
          ipath="`/system/templates/keyword.html?keyword=${currentListItem}`"
          icount="fileCache.getContentPathsForKeyword(currentListItem),(p)=>p?.length?.toString()"
        >
        </set->
        <li>
          <span>
            <a x-href="ipath" x-content="currentListItem"></a>&nbsp;(<span
              x-content="icount"
            />)
          </span>
        </li>
      </map-list>
    </ul>
  </body>
</html>
