<r- content="content" />

<details open>
  <summary>Backlinks</summary>
  <set-
    backlinks="fileCache.getBacklinksByContentPath(originalParameters?.contentPath)"
    hasbacklinks="backlinks?.length > 0"
  />
  <render- if="hasbacklinks">
    <ul>
      <render- map="backlinks" item="link">
        <li>
          <a
            x-href="link"
            x-content="fileCache.getByContentPath(link)?.meta?.title ?? link"
          />
        </li>
      </render->
    </ul>
  </render->
  <render- if="!hasbacklinks"> No backlinks </render->
</details>

<details open>
  <summary>Keywords</summary>
  <set-
    keywords_in_file="fileCache.getByContentPath(originalParameters?.contentPath)?.meta?.keywords ?? []"
    keywords="Array.isArray(keywords_in_file) ? keywords_in_file : keywords_in_file.split([','])"
    haskeywords="keywords?.length > 0"
  />
  <render- if="haskeywords">
    <ul>
      <render- map="keywords" item="keyword">
        <li>
          <a
            x-href="`/system/templates/keyword.html?keyword=${keyword}`"
            x-content="keyword"
          />
        </li>
      </render->
    </ul>
  </render->
  <render- if="!haskeywords"> No keywords </render->
</details>

<details open>
  <summary>Parameters</summary>
  <set-
    params="originalParameters || {}"
    hasparams="Object.keys(params).length > 0"
  />
  <render- if="hasparams">
    <dl>
      <render- map="Object.entries(params)">
        <set- key="item[0]" value="item[1]" />
        <dt x-content="key" />
        <dd x-data-params="key" x-content="value" />
      </render->
    </dl>
  </render->
  <render- if="!hasparams"> No params </render->
</details>
