<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Query Playground</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <keep-if truthy="topLevelParameters.dialog!==undefined">
      <link
        rel="stylesheet"
        href="/system/global.css"
        type="text/css"
        media="screen"
      />

      <style>
        :root {
          font-size: 14px;
        }
        body {
          padding: var(--space-half);
          box-sizing: border-box;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          margin-block: var(--space-half);
          font-size: 1rem;
          font-weight: bold;
        }
      </style>
    </keep-if>

    <style>
      textarea {
        height: 3rem;
      }

      [copy-target-container]:has([copy]:hover) {
        [copy-target] {
          background-color: var(--bg-lighter);
        }
      }

      li:not(:last-child) {
        margin-bottom: var(--space-half);
      }
    </style>
    <script>
      const wait = (millis) =>
        new Promise((resolve) => setTimeout(resolve, millis));
      document.addEventListener("DOMContentLoaded", () => {
        document.body.addEventListener("click", async ({ target }) => {
          if (target.tagName !== "BUTTON") return;
          const isCopyButton = target.hasAttribute("copy");
          const isInsertButton = target.hasAttribute("insert");
          if (isCopyButton && isInsertButton)
            throw new Error(
              "Buttons should only have copy or insert attributes",
            );
          if (!isCopyButton && !isInsertButton) return;
          try {
            target.setAttribute("disabled", "true");
            const text = target
              .closest("[copy-target-container]")
              .querySelector("[copy-target]").innerText;
            if (isCopyButton) {
              await navigator.clipboard.writeText(text);
            } else {
              // Send message to parent frame
              var event = new CustomEvent("insertText", { detail: { text } });
              if (!window.parent)
                throw new Error(
                  "Can't insert without access to parent document ",
                );
              window.parent.document.dispatchEvent(event);
            }
            const originalText = target.innerHTML;
            target.innerHTML = isCopyButton ? "Copied!" : "Inserted!";
            await wait(1750);
            target.innerHTML = originalText;
            target.removeAttribute("disabled");
          } catch (error) {
            console.error("Error copying", error);
            target.innerHTML = "Error :-/";
          }
        });
      });
    </script>
    <form method="GET">
      <keep-if truthy="topLevelParameters.dialog!==undefined">
        <input type="hidden" name="select" value="body" />
        <input type="hidden" name="dialog" value="dialog" />
        <replace-with
          input
          type="hidden"
          name="contentPath"
          x-value="parameters.contentPath"
        />
      </keep-if>
      <replace-with
        textarea
        autofocus
        name="query"
        x-content="or(topLevelParameters.query,'')"
        placeholder="Temporal.Now.plainDateTimeISO()"
      >
      </replace-with>
      <replace-with button type="submit" x-formaction="parameters.contentPath"
        >Go</replace-with
      >
    </form>
    <keep-if truthy="topLevelParameters.query!==undefined">
      <set- result="query(topLevelParameters.query)"> </set->
      <h2>Complete result</h2>
      <div copy-target-container>
        <replace-with
          pre
          x-content="topLevelParameters.result,(p)=>typeof p === 'string'?p:JSON.stringify(p,null,2),(p)=>`<code
            copy-target>${p}</code>`"
        ></replace-with>
        <div>
          <button type="button" copy>Copy</button>
          <button type="button" insert>Insert</button>
        </div>
      </div>
      <keep-if truthy="Array.isArray(topLevelParameters.result)">
        <h2>List view</h2>
        <ul>
          <map-list q="topLevelParameters.result" allow-one>
            <li copy-target-container>
              <div class="flex-row justify-between">
                <replace-with
                  span
                  copy-target
                  x-content="parameters.currentListItem"
                ></replace-with>
                <div>
                  <button type="button" copy>Copy</button>
                  <button type="button" insert>Insert</button>
                </div>
              </div>
            </li>
          </map-list>
        </ul>
      </keep-if>
    </keep-if>
    <drop-if truthy="topLevelParameters.query!==undefined">
      <p>Type a query and hit "Go" to see the results here</p>
    </drop-if>
  </body>
</html>
