<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Unknown Error Occurred</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <keep-if truthy="originalPath">
      <p>While processing the request:</p>
      <p>
        <a x-href="originalPath"><code x-content="originalPath"></code></a>
      </p>

      <p>
        The server ran into an <em>unexpected error</em> resulting in a HTTP
        Status Code of <code x-content="statusCode" />
      </p>
      <p>
        The server recovered well enough to send this formatted message. It
        didn't crash, yippee.
      </p>
      <drop-if truthy="parameters.errorMessage">
        <p>
          This is distinct from a well-defined error, such as when a file is
          expected but missing, a 404. In this case, very limited information is
          being conveyed to you because the error message may have revealed some
          secure information. That information should be available in the server
          logs, if you have access.
          <keep-if truthy="errorUuid"
            >The error logs should appear just before this searchable unique
            identifier <code x-content="errorUuid"
          /></keep-if>
        </p>
      </drop-if>

      <keep-if truthy="parameters.errorMessage">
        <p>Error message: <code x-content="errorMessage" /></p>
      </keep-if>
    </keep-if>
  </body>
</html>
