<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Edit Page</title>
    <meta name="description" content="Edit content here" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <h1>Edit</h1>
    <textarea>
<slot name="content">Something went wrong :-/ the content you are attempting to edit should have apeared here</slot></textarea
    >
  </body>
</html>
