<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Query Playground</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <style>
      textarea {
        height: 3rem;
      }

      [copy-target-container]:has([copy]:hover) {
        [copy-target] {
          background-color: var(--bg-lighter);
        }
      }
    </style>
    <script>
      const wait = (millis) =>
        new Promise((resolve) => setTimeout(resolve, millis));

      document.body.addEventListener("click", async ({ target }) => {
        if (target.tagName !== "BUTTON" || !target.hasAttribute("copy")) return;
        try {
          target.setAttribute("disabled", "true");
          const text = target
            .closest("[copy-target-container]")
            .querySelector("[copy-target]").innerText;
          await navigator.clipboard.writeText(text);
          const originalText = target.innerHTML;
          target.innerHTML = "Copied!";
          await wait(1750);
          target.innerHTML = originalText;
          target.removeAttribute("disabled");
        } catch (error) {
          console.error("Error copying", error);
          target.innerHTML = "Error :-/";
        }
      });
    </script>
    <form method="GET">
      <replace-with
        textarea
        autofocus
        name="query"
        x-content="or(topLevelParameters.query,'')"
        placeholder="Temporal.Now.plainDateTimeISO()"
      >
      </replace-with>
      <replace-with button type="submit" x-formaction="parameters.contentPath"
        >Go</replace-with
      >
    </form>
    <ul>
      <map-list q="query(topLevelParameters.query)" allow-one>
        <li copy-target-container>
          <replace-with
            span
            copy-target
            x-content="parameters.currentListItem"
          ></replace-with>
          <button type="button" copy>Copy</button>
        </li>
      </map-list>
    </ul>
  </body>
</html>
